@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.foot{
  
 
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    position:relative;
    transition: all 150ms ease-in-out;
    &:hover{
        color: #9612EB;
    }
    
}


